@model Fusioness.Models.Home.IndexModel
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/LayoutBase.cshtml";
}
<!-- LINHA 1 -->
<div class="row-fluid">
  <!-- BLOCK -->
  <div class="span12">
    <div class="card">
      <h2 class="card-heading simple">Cabeçalho - Bloco tamanho 12</h2>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras commodo mollis cursus. Ut eu nulla at nibh pellentesque feugiat. Vestibulum ac euismod risus, ac molestie libero. Mauris mollis interdum nisi, non posuere dui auctor et. Ut pulvinar odio vel commodo sodales. Donec mi eros, elementum a ornare eu, placerat sit amet neque. Nunc suscipit dolor luctus lacus ornare, non consectetur enim condimentum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras commodo mollis cursus. Ut eu nulla at nibh pellentesque feugiat. Vestibulum ac euismod risus, ac molestie libero. Mauris mollis interdum nisi, non posuere dui auctor et. Ut pulvinar odio vel commodo sodales. Donec mi eros, elementum a ornare eu, placerat sit amet neque. Nunc suscipit dolor luctus lacus ornare, non consectetur enim condimentum. Curabitur iaculis magna eget sapien tincidunt, quis aliquet augue ornare. Vestibulum ullamcorper feugiat urna sed tincidunt. Nullam faucibus risus non luctus elementum. Cras tortor diam, molestie sit amet consectetur id, gravida ut ante. Morbi nec lorem suscipit, imperdiet enim at, condimentum risus. Quisque lacinia luctus nisi ut placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec a condimentum tellus. Nullam commodo molestie velit, sed hendrerit massa cursus molestie.</p>
        <p><a class="btn" href="#">Botão</a></p>
      </div>
    </div>
  </div>
  <!-- END BLOCK -->
</div><!-- END LINHA 2 -->

<!-- LINHA 2 -->
<div class="row-fluid">
  
  <!-- BLOCK -->
  <div class="span4">
    <div class="card">
      <h2 class="card-heading simple">Cabeçalho  - Bloco tamanho 4</h2>
      <div class="card-body">
        @using (Html.BeginForm("DoSomething", "Home", FormMethod.Post))
        {
          @Html.LabelFor(m => m.User.Nome)
          @Html.TextBoxFor(m => m.User.Nome)
          <br />
          <input type="submit" class="btn" value="Enviar" />
        }
      </div>
    </div>
  </div>
  <!-- END BLOCK -->
  
  <!-- BLOCK -->
  <div class="span8">
    <div class="card">
      <h2 class="card-heading simple">Cabeçalho  - Bloco tamanho 8</h2>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras commodo mollis cursus. Ut eu nulla at nibh pellentesque feugiat. Vestibulum ac euismod risus, ac molestie libero. Mauris mollis interdum nisi, non posuere dui auctor et. Ut pulvinar odio vel commodo sodales. Donec mi eros, elementum a ornare eu, placerat sit amet neque. Nunc suscipit dolor luctus lacus ornare, non consectetur enim condimentum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras commodo mollis cursus. Ut eu nulla at nibh pellentesque feugiat. Vestibulum ac euismod risus, ac molestie libero. Mauris mollis interdum nisi, non posuere dui auctor et. Ut pulvinar odio vel commodo sodales. Donec mi eros, elementum a ornare eu, placerat sit amet neque. Nunc suscipit dolor luctus lacus ornare, non consectetur enim condimentum. Curabitur iaculis magna eget sapien tincidunt, quis aliquet augue ornare. Vestibulum ullamcorper feugiat urna sed tincidunt. Nullam faucibus risus non luctus elementum. Cras tortor diam, molestie sit amet consectetur id, gravida ut ante. Morbi nec lorem suscipit, imperdiet enim at, condimentum risus. Quisque lacinia luctus nisi ut placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec a condimentum tellus. Nullam commodo molestie velit, sed hendrerit massa cursus molestie.</p>
        <p><a class="btn input-block-level" href="#">Link Botão</a></p>
      </div>
    </div>
  </div>
  <!-- END BLOCK -->
</div> <!-- END LINHA 2 -->
