<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="db0542e5f1e2ef4c29a2eaa22b00261fceContext" connectionString="Data Source=0542e5f1-e2ef-4c29-a2ea-a22b00261fce.sqlserver.sequelizer.com;Initial Catalog=db0542e5f1e2ef4c29a2eaa22b00261fce;Persist Security Info=True;User ID=duwgjyozfhprvvwm;Password=j5TMATCdtiFU5ZFku7Z75mZyYPabprRD2wNyR8GxtY4oAWavTzv283G7duVUSBWc;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>