@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LayoutBase</title>

    @RenderSection("head", false)
</head>
<body>
@RenderBody()
</body>
</html>
