@model Fusioness.Models.Contatos.ContatoModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutBase.cshtml";
}

@using (Html.BeginForm("AdicionarContato", "Contato", FormMethod.Post))
{
    <span>Contatos</span>
    @Html.DropDownListFor(m => m.UsuarioSelecionado.IdUsuario, new SelectList(Model.ListaDeUsuarios, "IdUsuario", "Nome"))
    <br />
    <input type="submit" value="Send" />
}
