<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost:40286/</SiteUrlToLaunchAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://localhost:40286/</MSDeployServiceURL>
    <DeployIisAppPath>Fusioness</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="remoteConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=0542e5f1-e2ef-4c29-a2ea-a22b00261fce.sqlserver.sequelizer.com;Initial Catalog=db0542e5f1e2ef4c29a2eaa22b00261fce;Persist Security Info=True;User ID=duwgjyozfhprvvwm;Password=j5TMATCdtiFU5ZFku7Z75mZyYPabprRD2wNyR8GxtY4oAWavTzv283G7duVUSBWc" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\remoteConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=0542e5f1-e2ef-4c29-a2ea-a22b00261fce.sqlserver.sequelizer.com;Initial Catalog=db0542e5f1e2ef4c29a2eaa22b00261fce;Persist Security Info=True;User ID=duwgjyozfhprvvwm;Password=j5TMATCdtiFU5ZFku7Z75mZyYPabprRD2wNyR8GxtY4oAWavTzv283G7duVUSBWc" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="localConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=BRUNO-PC;Initial Catalog=db0542e5f1e2ef4c29a2eaa22b00261fce;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\localConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=BRUNO-PC;Initial Catalog=db0542e5f1e2ef4c29a2eaa22b00261fce;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>