<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="remoteConnection" connectionString="Data Source=0542e5f1-e2ef-4c29-a2ea-a22b00261fce.sqlserver.sequelizer.com;Initial Catalog=db0542e5f1e2ef4c29a2eaa22b00261fce;Persist Security Info=True;User ID=duwgjyozfhprvvwm;Password=j5TMATCdtiFU5ZFku7Z75mZyYPabprRD2wNyR8GxtY4oAWavTzv283G7duVUSBWc" />
    <add name="localConnection" connectionString="Data Source=BRUNO-PC;Initial Catalog=db0542e5f1e2ef4c29a2eaa22b00261fce;Integrated Security=True" />
  </connectionStrings>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>
